sudo: false
language: node_js
cache:
  yarn: true
  directories:
    - node_modules
node_js:
  - '8'
  - '6'
  - '4'
  - '10'
before_install:
  - yarn global add greenkeeper-lockfile@1
before_script:
  - greenkeeper-lockfile-update
after_script:
  - greenkeeper-lockfile-upload
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script: 'yarn install && yarn build && npx semantic-release'
        on:
          branch: master
